In [1]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df=pd.read_csv("https://quality.data.gov.tw/dq_download_csv.php?nid=6231&md5_url=c3e78c01d880aa9e9e65ca95d444d945")

In [3]:
df.head()

,學校代碼,學校名稱,日間∕進修別,等級別,一年級男生,一年級女生,二年級男生,二年級女生,三年級男生,三年級女生,...,五年級男生,五年級女生,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生,縣市名稱,體系別
0,1,國立政治大學,D 日,D 博士,96,85,82,78,93,59,...,71,52,58,46,74,40,-,-,30 臺北市,1 一般
1,1,國立政治大學,D 日,M 碩士,624,742,632,695,348,431,...,-,-,-,-,-,-,-,-,30 臺北市,1 一般
2,1,國立政治大學,D 日,B 學士,899,1287,890,1332,878,1325,...,-,-,-,-,-,-,326,463,30 臺北市,1 一般
3,1,國立政治大學,N 職,M 碩士,303,248,253,259,201,210,...,53,47,-,-,-,-,-,-,30 臺北市,1 一般
4,2,國立清華大學,D 日,D 博士,225,99,201,71,189,73,...,158,50,112,43,168,58,-,-,18 新竹市,1 一般

In [4]:
df.drop("學校代碼",axis=1,inplace=True)
df.drop("日間∕進修別",axis=1,inplace=True)
df.drop("等級別",axis=1,inplace=True)
df.drop("縣市名稱",axis=1,inplace=True)
df.drop("體系別",axis=1,inplace=True)

In [5]:
df.head()

,學校名稱,一年級男生,一年級女生,二年級男生,二年級女生,三年級男生,三年級女生,四年級男生,四年級女生,五年級男生,五年級女生,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生
0,國立政治大學,96,85,82,78,93,59,77,54,71,52,58,46,74,40,-,-
1,國立政治大學,624,742,632,695,348,431,250,276,-,-,-,-,-,-,-,-
2,國立政治大學,899,1287,890,1332,878,1325,990,1240,-,-,-,-,-,-,326,463
3,國立政治大學,303,248,253,259,201,210,86,90,53,47,-,-,-,-,-,-
4,國立清華大學,225,99,201,71,189,73,168,49,158,50,112,43,168,58,-,-

## 延修生男生人數最多前五名

In [8]:
df.sort_values(by="延修生男生",ascending=False).head()

,學校名稱,一年級男生,一年級女生,二年級男生,二年級女生,三年級男生,三年級女生,四年級男生,四年級女生,五年級男生,五年級女生,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生
483,大仁科技大學,456,488,414,462,423,494,525,615,83,121,-,-,-,-,99,57
69,國立嘉義大學,332,193,304,178,270,177,291,194,-,-,-,-,-,-,98,44
498,嶺東科技大學,430,373,314,273,278,306,266,288,-,-,-,-,-,-,98,53
692,致理科技大學,368,500,276,468,216,448,264,436,-,-,-,-,-,-,98,113
276,中國文化大學,192,267,116,159,128,167,140,161,-,-,-,-,-,-,95,136

## 女生最多前五校

In [19]:
df.sort_values(by=["一年級女生","二年級女生","三年級女生","四年級女生"],ascending=False).head()

,學校名稱,一年級男生,一年級女生,二年級男生,二年級女生,三年級男生,三年級女生,四年級男生,四年級女生,五年級男生,五年級女生,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生
4,國立清華大學,225,99,201,71,189,73,168,49,158,50,112,43,168,58,-,-
346,南華大學,68,98,50,57,18,35,9,19,14,24,-,-,-,-,-,-
224,國立屏東大學,627,975,655,973,671,968,589,1037,-,-,-,-,-,-,130,106
590,僑光科技大學,646,968,702,935,634,962,588,993,-,-,-,-,-,-,63,39
500,中國科技大學,776,965,792,941,857,1171,876,1268,-,-,-,-,-,-,189,142

## 男生最多的前五校

In [20]:
df.sort_values(by=["一年級男生","二年級男生","三年級男生","四年級男生"],ascending=False).head()

,學校名稱,一年級男生,一年級女生,二年級男生,二年級女生,三年級男生,三年級女生,四年級男生,四年級女生,五年級男生,五年級女生,六年級男生,六年級女生,七年級男生,七年級女生,延修生男生,延修生女生
63,國立臺北大學,99,103,79,87,38,41,14,10,6,10,-,-,-,-,-,-
73,國立高雄大學,99,52,101,56,50,20,23,18,15,6,9,5,-,-,-,-
468,建國科技大學,985,473,641,381,734,383,890,528,-,-,-,-,-,-,128,61
811,臺北市立大學,98,271,87,237,44,119,25,71,19,23,14,28,-,-,-,-
260,東吳大學,98,137,75,131,63,148,59,167,43,100,-,-,-,-,18,32